* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #181818;
  width: 100%;
}

.topo {
  background-color: gainsboro;
}

#navBar {
  display: flex;
  height: 90px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  transition: ease all 0.5s;
}

.textMenu {
  background-color: #ed9121;
  width: 100%;
  height: 30px;
  top: 50px;
  z-index: 1;
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
}

.textMenu ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  border-right: solid #dda969 0.5px;
  border-left: solid #dda969 0.5px;
}

.textMenu li {
  width: 20%;
  color: gainsboro;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
}

.textMenu li:not(:last-child) {
  border-right: solid #dda969 0.5px;
}

.textMenu li:hover {
  color: #181818;
}

.logoPosition {
  height: 100%;
  width: 160.25px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo img {
  height: 45px;
  width: 45px;
  -webkit-font-smoothing: antialiased;
}

.caixaDePesquisaPosition {
  position: relative;
  width: 580px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navBar .active {
  top: 160px;
  height: 350px;
}

.caixaDePesquisa {
  display: flex;
  width: -webkit-fill-available;
  height: 30px;
  z-index: 7;
}

.caixaDePesquisa input {
  display: flex;
  width: 95%;
  height: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  background: white;
  color: black;
  outline: none;
  font-size: 15px;
  padding-left: 10px;
}

.caixaDePesquisa .active {
  border-bottom-left-radius: 0px;
}

.dropdownPesquisa {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 580px;
  height: fit-content;
  background-color: white;
  z-index: 8;
  border-radius: 0px 0px 5px 5px;
  padding: 0px 10px 10px 10px;
}

.dropdownPesquisa p {
  padding-top: 10px;
}

.caixaDePesquisa .icon3 {
  padding: 14px;
  background-color: white;
  background-image: url(../Img/Icones/Lupa/miniBuscadorCinza.png);
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.3s;
  -webkit-font-smoothing: antialiased;
  border: solid white 1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.iconPosition {
  display: flex;
  height: 100%;
  align-items: center;
  width: 160.25px;
  justify-content: end;
}

.menuPosition {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.menu img {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
}

.iconPosition #icon1 {
  padding: 20px;
  background-image: url(../Img/Icones/Bolsa/miniBolsaCinza.png);
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.3s;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.iconPosition #icon1:hover {
  background-image: url(../Img/Icones/Bolsa/miniBolsaPreta.png);
}

.iconPosition #icon2 {
  padding: 20px;
  background-image: url(../Img/Icones/Perfil/miniPerfilCinza.png);
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.3s;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.iconPosition #icon2:hover {
  background-image: url(../Img/Icones/Perfil/miniPerfilPreto.png);
}

.carrinhoPosition {
  height: calc(100vh - 20px);
  width: fit-content;
  margin-top: -80px;
  margin-right: 10px;
  right: 0;
  position: absolute;
  z-index: 4;
}

#carrinho {
  background-color: white;
  width: 300px;
  height: 100%;
  flex-direction: column;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
}

#exitCarrinho {
  width: 100%;
  height: 45px;
  padding: 10px;
}

#exitCarrinho img {
  height: 25px;
  width: 25px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.itensComprados {
  width: 100%;
  height: calc(100% - 45px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.emptyBagPosition {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.emptyBag {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyBag img {
  -webkit-font-smoothing: antialiased;
  width: 115px;
  height: 160px;
}

.emptyBagPosition p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginPosition {
  height: 125px;
  width: fit-content;
  margin-top: -15px;
  padding-right: calc(200px - 80px);
  right: 0;
  position: absolute;
  z-index: 4;
  display: none;
}

.loginPosition #loginBar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100%;
  flex-direction: column;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
}

#loginBar a {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

#loginBar a:hover {
  background-color: gainsboro;
}

#loginBar p {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1680px) {
  #navBar {
    padding-left: 150px;
    padding-right: 150px;
  }

  .textMenu {
    padding-left: 150px;
    padding-right: 150px;
  }

  .loginPosition {
    padding-right: calc(150px - 80px);
  }
}

@media only screen and (max-width: 1366px) {
  #navBar {
    padding-left: 100px;
    padding-right: 100px;
  }

  .textMenu {
    padding-left: 100px;
    padding-right: 100px;
  }

  .loginPosition {
    padding-right: calc(100px - 80px);
  }
}

@media only screen and (max-width: 1280px) {
  #navBar {
    padding-left: 50px;
    padding-right: 50px;
  }

  .textMenu {
    padding-left: 50px;
    padding-right: 50px;
  }

  .loginPosition {
    padding-right: 0px;
  }
}

@media only screen and (max-width: 1024px) {
  #navBar {
    padding-left: 0px;
    padding-right: 0px;
  }

  .iconPosition {
    margin-right: 24px;
    width: 40px;
  }

  .iconPosition #icon1 {
    margin-right: 0px;
  }

  .iconPosition #icon2 {
    display: none;
  }

  .menuPosition {
    width: 40px;
    display: flex;
    height: 100%;
    margin-left: 24px;
    align-items: center;
  }

  .caixaDePesquisaPosition {
    display: none;
  }

  .caixaDePesquisa {
    display: none;
  }

  .logoPosition {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .textMenu {
    padding-left: 0px;
    padding-right: 0px;
  }

  .loginPosition {
    left: 0;
  }
}

@media only screen and (max-width: 800px) {
  #navBar {
    height: 60px;
  }

  .textMenu {
    display: none;
  }

  .loginPosition {
    margin-top: 0px;
  }

  .carrinhoPosition {
    margin-top: -50px;
    margin-left: 10px;
  }

  #carrinho {
    width: calc(100vw - 20px);
  }
}
