* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body{
    background-color: gainsboro;
    width: 100%;
}

.inicio {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
}

.inicio .imgPosition{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;    
    justify-content: center;
}

.inicio .imgPosition img{
    height: 600px;
    display: flex;
    justify-content: center;
    animation:logoAnimate linear infinite alternate;
}

@keyframes logoAnimate{
    0%{
        transform: translateY(-200px);
    }

    100%{
        transform: translateY(200px);
    }
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login img {
    width: 100px;
    height: 100px;
}

.espaco {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixaDeLogin {
    background-color: #181818;
    width: 600px;
    height: 500px;
    position: relative;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.top{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
} 

.bot {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
} 

.send {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send p{
    color: #FFF;
    font-size: 12px;
}

.send input{
    width: 80%;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f18f01;
    color: rgb(0, 0, 0, 0.7);
    font-weight: 800;
    font-size: 20px;
    box-shadow: 0px 10px 40px -12px #f18f01;
} 

.textoSend {
    width: 100%;
    height: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.textoSend a{
    text-decoration: none;
    color: #f18f01;
}

.textoSend a:hover{
    text-decoration: underline;
}

.campo {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.campo input{
    width: 80%;
    border: none;
    background: transparent;
    color: #FFF;
    border-bottom: 1px solid #FFF;
    outline: none;
    font-size: 22px;
}

.login h1{
    color: #f18f01;
    font-weight: 800;
}

.check {
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.check p{
    margin-left: 10px;
    color: #FFF;
    font-size: 13px;
}