.bar1 {
    background-image:url(../Img/Icones/setaCinza.png) ;
    background-color: white;
    width: 30px;
    height: 400px;
    cursor: pointer;
    transform: rotate(180deg);
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-font-smoothing: antialiased;
    z-index: 6;
}

.bar2 {
    background-image:url(../Img/Icones/setaCinza.png) ;
    background-color: white;
    width: 30px;
    height: 400px;
    cursor: pointer;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-font-smoothing: antialiased;
    z-index: 6;
}

.bar3 {
    background-image:url(../Img/Icones/setaCinza.png) ;
    background-color: white;
    width: 30px;
    height: 400px;
    cursor: pointer;
    transform: rotate(180deg);
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-font-smoothing: antialiased;
    z-index: 6;
}

.bar4 {
    background-image:url(../Img/Icones/setaCinza.png) ;
    background-color: white;
    width: 30px;
    height: 400px;
    cursor: pointer;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-font-smoothing: antialiased;
    z-index: 6;
}

.bar5 {
    background-image:url(../Img/Icones/setaCinza.png) ;
    background-color: white;
    width: 30px;
    height: 400px;
    cursor: pointer;
    transform: rotate(180deg);
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-font-smoothing: antialiased;
    z-index: 6;
}

.bar6 {
    background-image:url(../Img/Icones/setaCinza.png) ;
    background-color: white;
    width: 30px;
    height: 400px;
    cursor: pointer;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-font-smoothing: antialiased;
    z-index: 6;
}

.bar7 {
    background-image:url(../Img/Icones/setaCinza.png) ;
    background-color: white;
    width: 30px;
    height: 400px;
    cursor: pointer;
    transform: rotate(180deg);
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-font-smoothing: antialiased;
    z-index: 6;
}

.bar8 {
    background-image:url(../Img/Icones/setaCinza.png) ;
    background-color: white;
    width: 30px;
    height: 400px;
    cursor: pointer;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-font-smoothing: antialiased;
    z-index: 6;
}

.bar9 {
    background-image:url(../Img/Icones/setaCinza.png) ;
    background-color: white;
    width: 30px;
    height: 400px;
    cursor: pointer;
    transform: rotate(180deg);
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-font-smoothing: antialiased;
    z-index: 6;
}

.bar10 {
    background-image:url(../Img/Icones/setaCinza.png) ;
    background-color: white;
    width: 30px;
    height: 400px;
    cursor: pointer;
    align-items: center;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-font-smoothing: antialiased;
    z-index: 6;
}