.footer {
    height: 500px;
    border-top: 1px solid #b4b4b4;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: white;
    transition: ease all .5s;
}

.menusFooter {
    display: flex;
    width: 100%;
    height: 95%;
}

.sectionMenuFooter {
    width: 20%;
}

.sectionSocialFooter{
    width: 30%;
    height: 100%;
}

.sectionSocialFooter1{
    height: 30%;
}

.rodape {
    width: 100%;
    height: 5%;
    border-top: 1px solid #b4b4b4;
    display: flex;
}

.textoEsquerdaRodape {
    width: 90%;
    height: 100%;
    color: black;
}

.textoDireitaRodape {
    width: 10%;
    height: 100%;
    color: black;
}

.pais {
    display: flex;
    justify-content: end;
}

.t1 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.t1 p{
    font-size: 17px;
    color: black;
}

.l1 {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.l1R {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-top: 10px;
}

.l1M {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.l1M a {
    text-decoration: none;
    font-size: 13px;
    padding-top: 14px;
    color: black;
}

.l1 a {
    text-decoration: none;
    font-size: 13px;
    padding-top: 14px;
    color: black;
}

.l1 p {
    text-decoration: none;
    font-size: 13px;
    color: black;
}

.l1 h6 {
    text-decoration: none;
    font-size: 13px;
    padding-top: 14px;
    color: black;
}

.l1 a:hover {
    text-decoration: underline;
}

.l1M a:hover {
    text-decoration: underline;
}

.l1 img{
    height: 100px;
}

@media only screen and (max-width: 1680px) {
    .footer {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media only screen and (max-width: 1366px) {
    .footer {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media only screen and (max-width: 1280px) {
    .footer {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 1024px) {
    .footer {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 800px) {
    .l1 img{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        display: none;
    }
}